 .aim-btn-table{
        width:206px;
        color: white;
        position: relative;
        left: -2px;
    } 

.aim-btn-table > tbody tr td {
    border-bottom: none;
}

.aim-btn-table img{
   width: 40px;
    height: 40px;
}

.vehicle-slider .fa.fa-angle-right{
	z-index:1000!important;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
    
    .aim-btn-text{
		font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
         position: relative;
    left:1px;
        color: white;
        
    }    
    

.reserve-button{
    
    background: var(--aimMainColor)!important;
        width: 60px;
        height: 60px;
    border: none;
    border-radius: 30px;
    transition: 0.5s!important;
    color: white!important;
    overflow: hidden;
    box-shadow: none!important;
    padding: 0 12px;
margin: 15px auto;
    text-align: left;

}
    
.reserve-button:hover,.reserve-button:focus, .reserve-button:active{
    background: var(--aimMainColor)!important;
    width: 190px;
    
    } 
    
.credit-button{
    
    background: var(--aimMainColor)!important;
        width: 60px;
        height: 60px;
    border: none;
    border-radius: 30px;
    transition: 0.5s!important;
    color: white!important;
    overflow: hidden;
    box-shadow: none!important;
    padding: 0 9px;
margin: 15px auto;
    text-align: left;

}
    
.credit-button:hover{
    background: var(--aimMainColor)!important;
    width: 190px;
    
    } 


.btest-drive-button{
    background: var(--aimMainColor)!important;
        width: 60px;
        height: 60px;
    border: none;
    border-radius: 30px;
    transition: 0.5s!important;
    color: white!important;
    overflow: hidden;
    box-shadow: none!important;
    padding: 0 9px;
margin: 15px auto;
    text-align: left;
}

.btest-drive-button:hover{
     background: var(--aimMainColor)!important;
    width: 190px;
    
}


.vtrade-button{
    background: var(--aimMainColor)!important;
        width: 60px;
        height: 60px;
    border: none;
    border-radius: 30px;
    transition: 0.5s!important;
    color: white!important;
    overflow: hidden;
    box-shadow: none!important;
    padding: 0 9px;
margin: 15px auto;
    text-align: left;
    
}

.vtrade-button:hover{
     background: var(--aimMainColor)!important;
    width: 190px;
    
}

.moffer-button{
    background: var(--aimMainColor)!important;
        width: 60px;
        height: 60px;
    border: none;
    border-radius: 30px;
    transition: 0.5s!important;
    color: white!important;
    overflow: hidden;
    box-shadow: none!important;
    padding: 0 9px;
margin: 15px auto;
    text-align: left;
    
}

.moffer-button:hover{
     background: var(--aimMainColor)!important;
    width: 190px;
}

.greview-button{
    background: var(--aimMainColor)!important;
        width: 60px;
        height: 60px;
    border: none;
    border-radius: 30px;
    transition: 0.5s!important;
    color: white!important;
    overflow: hidden;
    box-shadow: none!important;
    padding: 0 9px;
margin: 15px auto;
    text-align: left;
}

.greview-button:hover{
    background: var(--aimMainColor)!important;
    width: 190px;
}

.insurance-button{
    background: var(--aimMainColor)!important;
        width: 60px;
        height: 60px;
    border: none;
    border-radius: 30px;
    transition: 0.5s!important;
    color: white!important;
    overflow: hidden;
    box-shadow: none!important;
    padding: 0 9px;
margin: 15px auto;
    text-align: left;
    
}

.insurance-button:hover{
    background: var(--aimMainColor)!important;
    width: 190px;
}


.aim-floating-btns{
    width:330px; position: fixed; z-index:999; right: -60px; top: 245px;
}


.aim-btn-box{
    display: inline;
}


@media screen and (max-width: 415px) and (orientation: portrait) {
    
   .aim-btn-box{
}
    
    .aim-floating-btns{
    width:auto; right:0; top: 160px;
}
    
    
}

@media screen and (max-width: 870px) and (orientation: landscape) {
    
   .aim-btn-box{}
    
    .aim-floating-btns{
        
        width:auto; right:0; top:0;
    }
    
    .reserve-button, .credit-button, .btest-drive-button, .vtrade-button, .moffer-button, .greview-button, .insurance-button  {
        
        margin: 0px auto;
        width: 52px;
        height: 52px;
        
    }
    
    .aim-btn-table img {
    width: 32px;
    height: 32px;
}
    
    #header .logo-main .mobile-menu-trigger{
        right: 50px!important;
    }
    
    #wpfront-notification-bar.wpfront-fixed{
        z-index:999!important;
    }
    
    
}




.stm-single-car-side{
    min-width: 320px;
}

.aim-button {
    margin: 8px 0px 0px 0px;
}

#aim_lease_calculator{
    max-width: 330px;
}

#aim_lease_calculator .lease-cal-heading h2 a {
color: #fff!important;
}

[class*=vehicleListings].card .content .link .bzl-vcta-drawer .bzl-vcta a[data-bzl-id="aimexp-dp-cta"] {

    background: none;

}

.test-drive {
    
    
    background-image: url("../img/TestDrive_Base.png")!important;
    background-color: var(--aimMainColor)!important;
    width: 100%!important;
 /* max-width: 330px !important;*/
    background-repeat: no-repeat!important;
    height: 44px!important;
    box-shadow: none!important;
    background-size: contain!important;
    border: none!important;
    background-position: center!important;
    border-radius: 20px;
}

.test-drive:hover {
    background-image: url("../img/TestDrive_Hover.png")!important;
filter: saturate(270.9%);
opacity: 0.7 !important;
background-size: contain !important;
box-shadow: 0 1px 12px rgba(0, 0, 0, 0.58) !important;
transition: box-shadow 0.4s ease-in-out;
}





.aim-g-review {
    
    background-image: url("../img/Google_Base.png")!important;
    background-color: var(--aimMainColor)!important;
    width: 100%!important;
    /* max-width: 330px !important;*/
    background-repeat: no-repeat!important;
    height: 44px!important;
    box-shadow: none!important;
    background-size: contain!important;
    border: none!important;
    border-radius: 20px;
    background-position: center!important;
    
}


.aim-g-review:hover {
    background-image: url("../img/Google_Hover.png")!important;
filter: saturate(270.9%);
opacity: 0.7 !important;
background-size: contain !important;
box-shadow: 0 1px 12px rgba(0, 0, 0, 0.58) !important;
transition: box-shadow 0.4s ease-in-out;
}

.value-trade-aim{
    background-image: url("../img/ValueTrade_Base.png")!important;
    width: 100%!important;
    background-color: var(--aimMainColor)!important;
   /* max-width: 330px !important;*/
    background-repeat: no-repeat!important;
    height: 44px!important;
    box-shadow: none!important;
    background-size: contain!important;
    border: none!important;
    border-radius: 20px;
    background-position: center!important;
    
}

.value-trade-aim:hover{
    background-image: url("../img/ValueTrade_Hover.png")!important;
filter: saturate(270.9%);
opacity: 0.7 !important;
background-size: contain !important;
box-shadow: 0 1px 12px rgba(0, 0, 0, 0.58) !important;
transition: box-shadow 0.4s ease-in-out;
}




.make-offer-aim{
    background-image: url("../img/MakeOffer_Base.png")!important;
    width: 100%!important;
    background-color:var(--aimMainColor)!important;
    /* max-width: 330px !important;*/
    background-repeat: no-repeat!important;
    height: 44px!important;
    box-shadow: none!important;
    background-size: contain!important;
    border: none!important;
    border-radius: 20px;
    background-position: center!important;
}

.make-offer-aim:hover{
    background-image: url("../img/MakeOffer_Hover.png")!important;
filter: saturate(270.9%);
opacity: 0.7 !important;
background-size: contain !important;
box-shadow: 0 1px 12px rgba(0, 0, 0, 0.58) !important;
transition: box-shadow 0.4s ease-in-out;
}

.credit-apply-aim{
    background-image: url("../img/Credit_Base.png")!important;
    width: 100%!important;
    background-color: var(--aimMainColor) !important;
    /* max-width: 330px !important;*/
    background-repeat: no-repeat!important;
    height: 44px!important;
    box-shadow: none!important;
    background-size: contain!important;
    border: none!important;
    border-radius: 20px;
    background-position: center!important;
}

.credit-apply-aim:hover{
    background-image: url("../img/Credit_Hover.png")!important;
  filter: saturate(270.9%);
opacity: 0.7 !important;
background-size: contain !important;
box-shadow: 0 1px 12px rgba(0, 0, 0, 0.58) !important;
transition: box-shadow 0.4s ease-in-out;
}


.reserve-now{
    background-image: url("../img/Reserve_Base.png")!important;
    width: 100%!important;
    background-color: var(--aimMainColor)!important;
    /* max-width: 330px !important;*/
    background-repeat: no-repeat!important;
    height: 44px!important;
    box-shadow: none!important;
    background-size: contain!important;
    border: none!important;
    border-radius: 20px;
    background-position: center!important;
}

.reserve-now:hover{
    background-image: url("../img/Reserve_Hover.png")!important;
 filter: saturate(270.9%);
opacity: 0.7 !important;
background-size: contain !important;
box-shadow: 0 1px 12px rgba(0, 0, 0, 0.58) !important;
transition: box-shadow 0.4s ease-in-out;
   
}

.srp-vsa-b{
background: var(--aimMainColor)!important;
}

.vsa-modal{
    background-image: url("../img/Green-NoNegotiate.gif")!important;
    background-color: #00ff00!important;
      width: 100%!important;
  /* max-width: 330px !important;*/
    background-repeat: no-repeat!important;
    height: 44px!important;
    box-shadow: none!important;
    background-size: contain!important;
    background-position: center!important;
    border: none!important;
    border-radius: 20px;
    margin-top: 5px;
    
}

.vsa-modal:hover{
filter: saturate(270.9%);
opacity: 0.7 !important;
background-size: contain !important;
box-shadow: 0 1px 12px rgba(0, 0, 0, 0.58) !important;
transition: box-shadow 0.4s ease-in-out;
}

#aim_calculator_preview_boxes .aim_calculator_preview_box_main_button{
    background: var(--aimMainColor)!important;
}
#aim_calculator_preview_boxes .aim_calculator_preview_box_amount{
    color: var(--aimMainColor)!important;
}






@media screen and (max-width: 800px) {
    
    
}
